
header{
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

body {
    background: url('../img/pizza_background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

input:focus {
    outline: none;
}

/*----------------------------------
    pizza part radio button section
----------------------------------*/
.radio{
    display: flex;
    justify-content: center;
}

.pizza_part{
    border: 2px solid black;
    background-color: rgba(0,0,0,.5);
    color: white;
    border-radius: 15px;
}

.radio_selection{
    display: inline-flex;
    height: 175px;
    width: 200px;
    margin: 0 1em 0 1em;
}

.in-radio{
    display: block;
    width: 100%;
}

.section-title{
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    background-color: red;
    color: yellow;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
}

form{
    margin-top: 15px;
}

input[type="radio"]{
    text-align: left;
}

/*----------------------------------
        End radio button section
----------------------------------*/

/*----------------------------------
        Meat and Veggies section
----------------------------------*/

.checklist-container{
}

.checklist{
    width: 910px;
    margin: 1em auto 0 auto; 
}

.mv-class{
    text-align: center;
    padding-bottom: 20px;
}

/*----------------------------------
      End Meat and Veggies section
----------------------------------*/

/*----------------------------------
                Buttons / total
----------------------------------*/

.button-container{
    text-align: center;
}

.button-container input {
    border-radius: 15px;
    border: 2px solid black;
    color: yellow;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
}

#order,#cancel{
    margin-top: 1em;
    height: 40px;
    width: 150px;
}

#total{
    margin-top: 1em;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}

/*----------------------------------
            End Buttons / Total
----------------------------------*/

/*----------------------------------
            Order Review
----------------------------------*/

#order-review{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    visibility: hidden;
    color: white;
}

.list-container{
    padding: 0 3em 0 3em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgba(0,0,0,.5);
}

.lc1{
    border-left: 2px solid black;
}

.lc2{
    border-right: 2px solid black;
}

ul{
    list-style-type: none;
}

.footer{
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1em;
    border-top: 2px solid black;
}
/*----------------------------------
            End Order Review
----------------------------------*/



